.row{
	margin:10px;
}
.row > div{
	border:5px solid white;
	background-color: red;
}
body
{
	background-color: black;
}
#header-nav{
	background-color: yellow;
	border-radius: 0;
	border: 0;
	margin:10px;

}
#img-logo{
	/*background: url('..images\netflix.jpg') no-repeat;/*Not working*/
	width: 100px;
	height: 100px;
	margin: 10px 15px 10px 0px;
}


/*<div id="img-logo" alt="logo image"></div>*/