.row{
	margin:10px;
}
.row > div{
	border:5px solid white;
	background-color: red;
}
body
{
	background-color: black;
}

#header-nav{
	background-color: yellow;
	border-radius: 0;
	border: 0;
	margin:10px;

}
#img-logo{
	background: url('../batman.jpg') no-repeat;
	width: 200px;
	height: 150px;
	margin: 10px 15px 10px 0px;
}