/*
body
{
	padding:10px;
	margin:10px;
	border:10px;
	align-items: center;


}
*{
	box-sizing: border-box;
}

div{

	background-color: skyblue;
}

h1{
	font-family: sans-serif;
	text-align: center;
	

}

/****************************** Basic styling ***********************************/
/*
.s1
{
	color: white;
	padding: 1px;
	border: 1px solid black;
	margin: 1px;
	height: 250px;
	background-color: grey;
	margin-bottom: 10px;

	margin-right: 10px;
	position: relative;


	

}
.s2
{
	color: white;
	padding: 1px;
	border: 1px solid black;
	margin: 1px;

	height: 250px;
	background-color: grey;
	margin-bottom: 10px;

	margin-right: 10px;
	margin-left: 10px;
	position: relative;



}
.s3
{
	color: white;
	padding: 1px;
	border: 1px solid black;
	margin: 1px;

	height: 250px;

	margin-left:10px;
	background-color: grey;

	position: relative;
}
*/
/*
#p1{
	background-color: black;
	color: white;
	width: 40%;
	text-align: center;
	border: 10px;
	margin:1px;
	position: relative;
	left: 270px;
	border:5px; 




}*/


/****************************** Medium size device ***********************************/
/*
@media (min-width: 992px){

	.s1{
		width: 30%;
		}
	.s2{

		width: 30%;
		}
	.s3{
		width: 30%;
		}

@media (min-width: 768px and max-width:991px)
{
	.s1{
		width: 50%;
	}
	.s2{
		width: 50%;
	}
	.s3{
		width: 100%;
	}
}


*/
/**SEE THIS SHANUK SEE THIS SHANUK SEE THIS SHANUK SEE THIS SHANUK SEE THIS SHANUK SEE THIS SHANUK*/
/****************************** Large size device ***********************************/
/*



*{
	box-sizing: border-box;
}

.row{
	width: 100%;
}
h1
{
	font-family: sans-serif;
	text-align: center;

}
.s1
{
	
	background: grey;
	color: white;
	font-weight: bold;
	border: 3px solid black;
	height: 200px;
	align-items: center;
	width: 30%;
	position: relative;
	left: 70px;
	top:200px;
	float: left;
	margin-right: 10px;
	



	

}

.s2{
	
	background: grey;
	color: white;
	font-weight: bold;
	border: 3px solid black;
	align-items: center;
	height: 200px;
	width: 30%;
	position: relative;
	left: 70px;
	top:200px;
	float: left;
	margin-right: 10px;

	

}


.s3{
	
	background: grey;
	color: white;
	font-weight: bold;
	border: 3px solid black;
	align-items: center;
	height: 200px;
	width: 30%;
	position: relative;
	left: 70px;
	top:200px;
	float: left;


	

}

#p1,#p2,#p3

{

	background:red;
	color: white;
	font-weight: bold;
	font-family: comic-sans;

	padding: 5px;
	margin: 0px;
	border:3px solid black;
	width: 200px;
	height: 35px;
	text-align: center;
	position: relative;
	left: 253px;
	right: 100px;
	bottom: 2px;



*/

/*
	left:1317px;
	bottom: 2px;*/
/*
}
#p2{
		background:green;
}*/


/*********** medium ************//*

@media (min-width: 992px)
{
	.s1,.s2,.s3{
		float: left;
	}

	.s1{
		width: 30%;
	}
	.s2{
		width: 30%;
	}
	.s3{
		width: 30%;
	}
}
@media (min-width: 768px and max-width: 991px)
{
	.s1,.s2,.s3{
		float: left;
	}
	.s1{
		width:30%;
	}
	.s2{
		width: 30%;
	}
	.s3{
		width: 100%;
	}

}/*

*************************** trails **********************************************/

.contain{

	width: 100%;
	margin: center;

}

h1
{
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 40px;
	margin:30px;
}

h2{
	color: white;
	font-family: sans-serif;
	margin: 1px 1px;
	padding:1px;
	text-align: center;
}

#wp{
	background-color: red;
}
#mis{
	background-color: green;
}
#bak{
	background-color: blue;
}

.heading{
	float: right;
	width: 23%;
	border:2px solid black;
	font-size: 10px;
	text-align: center;
	border-top: 0px;
	

}

.content{
	width: 100%;
    margin: 12px 3px;
    border: 2px solid black;
    padding-left: 20px;
   	background-color: gray;



}

body{
	position: relative;
	top:150px;
	left: 30px;
}


/************ large size compo ****************/

@media (min-width: 992px)
{

	#wada{
		background-color: grey;
		float: left;
		width: 29.5%;

	}
	#misal{
		background-color: grey;
		float: left;
		width: 29.5%;

	}	  
	#bakar{
		background-color: grey;
		float: left;
		width: 29.5%; 

	}	  


}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) 
{
    #wada {
        background-color: gray;
        float: left;
        width: 42%;
    }

    #misal {
        background-color: gray;
        float: left;
        width: 42%;

    }

    #bakar {
        background-color: gray;
        float: left;
        width: 88%;
    }


}

/****************** Small devices ***************/
 @media (max-width: 767px)
{
        #wada {
            
            float: left;
            width: 85%;
        }

        #misal {
            
            float: left;
            width: 85%;

        }

        #bakar {
            
            float: left;
            width: 85%;
        }
    
}

/********************************************** WORKING **************************************/
/*
.contain{

	width: 100%;
	margin: center;
}

h1
{
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 40px;
	margin:30px;
}

h2{
	color: white;
	font-family: sans-serif;
	margin: 1px 1px;
	padding:1px;
	text-align: center;
}

#wp{
	background-color: red;
}
#mis{
	background-color: green;
}
#bak{
	background-color: blue;
}

.heading{
	float: right;
	width: 20%;
	border:2px solid black;
	font-size: 10px;
	text-align: center;
	border-top: 0px;
	border-right : 0px;

}

.content{
	width: 100%;
    margin: 12px 3px;
    border: 2px solid black;
    padding-left: 7px;
   	background-color: gray;
}
/************ large size compo ****************//*

@media (min-width: 992px)
{

	#wada{
		background-color: grey;
		float: left;
		width: 32%;

	}
	#misal{
		background-color: grey;
		float: left;
		width: 32%;

	}	  
	#bakar{
		background-color: grey;
		float: left;
		width: 30%; 

	}	  

}*/

/********** Medium devices only **********//*
@media (min-width: 768px) and (max-width: 991px) 
{
    #wada {
        background-color: gray;
        float: left;
        width: 47%;
    }

    #misal {
        background-color: gray;
        float: left;
        width: 47%;

    }

    #bakar {
        background-color: gray;
        float: left;
        width: 96.5%;
    }

}*/

/****************** Small devices ***************//*
 @media (max-width: 767px)
{
        #wada {
            
            float: left;
            width: 96%;
        }

        #misal {
            
            float: left;
            width: 96%;

        }

        #bakar {
            
            float: left;
            width: 96%;
        }
    
}

*/